body {
  background-color: grey;
}
#window {
    width: 800px;
    height: 600px;
    overflow:hidden;
    position: relative;
    margin:100 auto;
    background-color: white;
}
#board {
    width: 1200px;
    height: 1200px;
    position:absolute;
    top:"-100px";
    left:"100px";
    cursor: none;
}
#surface {
    width: 1000px;
    height: 1000px;
    border: 10px solid black;
    background-color: LightGreen;
}
#canvas {
}
#starter {
  cursor: pointer;
  background-color: blue;
}
